.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

button:hover {
    opacity: 0.9;
}

.filters .locations, .filters .amenities {
    display: inline-block;
    height: 100%;
    width: 25%;
    padding-left: 30px;
    margin-bottom: 0;
    position: relative;
}

.filters > :first-child {
    border-right: 1px solid #DDDDDD;
}

.locations h4, .amenities h4 {
    font-weight: 600;
    margin-top: 0;
}

.locations h3, .amenities h3 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}

.popover {
    position: absolute;
    box-sizing: border-box;
    padding: 20px inherit;
    left: 0;
    top: 100%;
    margin: 0;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    display: none;
}

.popover > h2 {
    font-size: 16px;
}

.popover ul {
    list-style-type: none;
}

.locations:hover > .popover, .amenities:hover > .popover {
    display: block;
}
